In [1]:
import pandas as pd
import numpy as np
import hydropy as hp

In [2]:
wp = pd.Panel(np.random.randn(2, 5, 4), items=['Item1', 'Item2'],
                  major_axis=pd.date_range('1/1/2000', periods=5),
                  minor_axis=['A', 'B', 'C', 'D'])

In [3]:
wp

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 4 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 2000-01-01 00:00:00 to 2000-01-05 00:00:00
Minor_axis axis: A to D

In [4]:
study = hp.Analysis('valid')

In [5]:
study.create_panel(wp)

In [6]:
list(study.panel.items)

['Item1', 'Item2']

In [7]:
study.panel['Item1']

                   A         B         C         D
2000-01-01  0.226716  0.177666 -2.020290  0.548751
2000-01-02  0.146538  0.996569 -0.195955  0.036439
2000-01-03 -0.585191  0.184875  1.055405 -0.695904
2000-01-04 -1.191726  0.214287 -0.875440 -1.059066
2000-01-05  0.848493 -1.518301  0.472255  0.698463

In [8]:
study2 = hp.Analysis(wp)

please set the source for the dataset.

In [9]:
study.panel['Item1']

                   A         B         C         D
2000-01-01  0.226716  0.177666 -2.020290  0.548751
2000-01-02  0.146538  0.996569 -0.195955  0.036439
2000-01-03 -0.585191  0.184875  1.055405 -0.695904
2000-01-04 -1.191726  0.214287 -0.875440 -1.059066
2000-01-05  0.848493 -1.518301  0.472255  0.698463