In [1]:
import hydropy as hp

In [2]:
HerringRun = hp.Station('01585200').fetch()

In [4]:
HerringRun.fetch()

            value
datetime
2016-10-14   0.26

In [4]:
HerringRun.data.tail()

            value
datetime
2016-10-14   0.26

In [2]:
joe = hp.Station('fake')

In [3]:
print(joe)

None

In [4]:
joe

None

In [3]:
HerringRun

            value
datetime
2016-10-14   0.26

In [6]:
print(HerringRun)

            value
datetime
2016-10-14   0.26

In [8]:
import pandas as pd
import numpy as np
newDF = pd.DataFrame(np.random.randn(10, 5))

In [9]:
newDF

          0         1         2         3         4
0  0.715285  0.373218  0.733555  0.808979  0.419294
1  0.518256  0.146816  0.840022 -0.757331  0.692864
2  0.706970 -1.335924 -0.591975  1.130133  0.074753
3  0.557858 -0.486713 -0.961751 -0.295453 -2.127548
4  0.358124  0.235388 -0.557621 -1.586327  0.673322
5 -0.107450  1.982369  1.164344  0.487939 -1.622136
6 -1.692570 -0.730707  0.202438 -0.219024  1.577714
7  0.893143  0.487099 -0.356152  0.608663  0.919320
8  1.210130 -1.054987 -0.064710 -0.067770 -0.075745
9  1.642313 -0.334159 -0.863388 -1.363208 -0.228656

In [2]:
test = hp.Analysis(['01585200', '01581500'], source='usgs-dv')

newish
A
B
01585200
01581500
['01585200', '01581500']
usgs-dv
{}

In [4]:
joe = hp.Analysis(1,2,3,4,word='hello')

TypeError: __init__() takes from 2 to 3 positional arguments but 5 were given