In [1]:
import numpy as np
import pandas as pd
import hydropy as hp

In [2]:
HerringRun = hp.Station('usgs01585200').fetch()

Not able to interpret the time serie frequency,                      run the frequency_change to define the frequency!

In [3]:
print(HerringRun)

<hydropy.composition.Station object at 0x000002A2AEA7B898>

In [4]:
HerringRun.data

Data columns value,
 ranging from 00:00:00 17/10/2016 until 00:00:00 17/10/2016
 with only one value.

In [5]:
HerringRun.dailymean.tail()

            value  season
datetime
2016-10-17   0.29  Autumn

In [6]:
HR = hp.Station('usgs01585200').fetch(start='2011-06-01', end='2011-06-10')

In [7]:
HR.data

Data columns value,
 ranging from 00:00:00 01/06/2011 until 00:00:00 10/06/2011
 with frequency D

In [8]:
HR

In [9]:
joe = hp.Station('fake')

In [10]:
print(joe)

<hydropy.composition.Station object at 0x000002A2B0D68748>

In [11]:
joe

In [12]:
HerringRun

In [13]:
print(HerringRun)

<hydropy.composition.Station object at 0x000002A2AEA7B898>

In [14]:
import pandas as pd
import numpy as np
newDF = pd.DataFrame(np.random.randn(10, 5))

In [15]:
newDF

          0         1         2         3         4
0  0.088350 -0.512392 -2.255294 -2.775037  0.560032
1 -1.294561 -0.335174 -0.985803 -0.778405  0.479038
2  2.220679 -0.022580 -0.974480 -0.004585 -0.275424
3  0.311842  0.188518  0.306042  0.467024 -0.137541
4 -1.084006  1.385083 -0.705447  1.033201 -1.480627
5  0.361931  0.595745 -1.985786  1.318180 -0.082599
6  0.861726  0.065210 -0.218367 -0.354005 -0.976902
7  0.670583  0.937579  0.356436 -3.069652  0.298883
8 -1.071122 -0.300101 -0.635703 -0.495929 -0.937820
9  0.023261  0.044477  0.800388 -0.507732  0.695491

In [16]:
test = hp.Analysis(['usgs01585200', 'usgs01581500'], source='usgs-dv')

Not able to interpret the time serie frequency,                      run the frequency_change to define the frequency!
Not able to interpret the time serie frequency,                      run the frequency_change to define the frequency!

In [17]:
test

In [18]:
test.panel

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 1 (major_axis) x 2 (minor_axis)
Items axis: usgs01581500 to usgs01585200
Major_axis axis: 2016-10-17 00:00:00 to 2016-10-17 00:00:00
Minor_axis axis: value to season

In [19]:
test.station_list

[<hydropy.composition.Station at 0x2a2b0e0c048>,
 <hydropy.composition.Station at 0x2a2b0e0c2b0>]

In [20]:
test.panel.items

Index(['usgs01581500', 'usgs01585200'], dtype='object')